# Ignorar archivos de entorno
.env

# Ignorar directorios de Airflow
logs/
config/
plugins/

# Ignorar volúmenes de Docker
postgres_data/

# Ignorar archivos de configuración y dependencias temporales
__pycache__/
*.py[cod]
*.log

